.content-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 100px;
  box-sizing: border-box;
}

.content {
  width: 100%;
  max-width: $blogWidth;
  display: flex;
}

.section {
  width: 66%;
  padding-right: 20px;
}

@media (max-width: $blogWidth) {
  .content {
    flex-direction: column;
  }

  .section {
    width: 100%;
    padding-right: 0;
  }
}

.aside-block {
  width: 33%;
  border-left: 2px solid #F1F1F1;
  box-sizing: border-box;
}

@media (max-width: $blogWidth) {
  .aside-block {
    width: 100%;
    border-top: 2px solid #F1F1F1;
  }
}
