.auth-form {
    display: flex;
    width: 60%;
    max-width: 600px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;

    @media (max-width: $tabletBreakpoint) {
        text-align: center;
    }
}

.auth-form label {
    width: 100%;
}

.auth-form input {
    width: 100%;
    border: none;
    margin-bottom: 10px;
    margin-top: 10px;
    border-bottom: 1px solid $light-grey;
}

.auth-form p {
    color: #FF4500;
}

.auth-form button {
    border: 1px solid $dark-grey;
    color: $light-grey;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: transparent;
    margin: 20px;
    transition: .5s;
    cursor: pointer;
}

.auth-form button:hover {
    color: $dark-grey;
}
