@mixin header_small {
  width: 100%;
  text-align: left;
  padding: 20px;
  box-sizing: border-box;
  border-bottom: 2px solid #F1F1F1;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;
}
