<template>
    <div class="category-page-wrap">
        <div
            v-if="loadingComplete"
            class="category-image"
            :style="`background-image: url(${getBackgroundImg})`"
        />
        <div class="category-posts-wrap">
            <div v-if="loadingComplete" class="category-posts">
                <h3 class="category-name">{{ category.name }}</h3>
                <card-full-height
                    v-for="(post, key) in posts"
                    :key="key"
                    :post="post"
                />
            </div>

            <InfiniteLoading
                v-if="posts.length > 0"
                spinner="spiral"
                @infinite="fetchPosts"
            >
                <div slot="no-more">Всё загружено</div>
                <div slot="no-results" />
            </InfiniteLoading>
        </div>
    </div>
</template>

<script>
    import InfiniteLoading from 'vue-infinite-loading';
    import CardFullHeight from '@/components/Cards/CardFullHeight.vue';
    import postApi from '@/services/post';

    export default {
        name: 'CategoryPage',
        components: { InfiniteLoading, CardFullHeight },
        data() {
            return {
                loadingComplete: false,
                posts: [],
                category: {},
                page: 0,
            };
        },
        computed: {
            getBackgroundImg() {
                return this.$thumbnail(this.category.image, 1920, 480);
            },
        },
        methods: {
            async fetchPosts($state) {
                try {
                    const request = { id: this.category._id, page: this.page };
                    const { data } = await postApi.post('getpostsbycategory', request);

                    if (data && data.length > 0) {
                        this.posts.push(...data);

                        if (this.page === 0) {
                            this.loadingComplete = true;
                        }

                        this.page += 1;
                        if (typeof $state !== 'undefined') {
                            $state.loaded();
                        }
                    } else {
                        $state.complete();
                    }
                } catch (e) {
                    if (this.posts.length === 0) {
                        await this.alertError('В данной категории нет постов');
                        await this.$router.push('/');
                    }

                    if (typeof $state !== 'undefined') {
                        $state.complete();
                    }
                }
            },
        },
        created() {
            const categories = this.$store.getters.CATEGORIES;
            const index = categories.findIndex((cat) => cat.slug === this.$route.params.slug);

            this.category = categories[index];
            this.fetchPosts();
        },
    };
</script>

<style lang="scss" scoped>
    .category-page-wrap {
        width: 100%;
    }

    .category-image {
        width: 100%;
        height: 480px;
        background-position: center;
        background-repeat: no-repeat;

        @media (max-width: $tabletBreakpoint) {
            height: 300px;
        }
    }

    .category-posts-wrap {
        width: 100%;
        min-height: 80vh;
        box-sizing: border-box;
    }

    .category-posts {
        width: 100%;
        max-width: $blogWidth;
        display: flex;
        flex-wrap: wrap;
        margin: auto;
    }
</style>
