<template>
    <div class="content-wrap">
        <div class="content">
            <section v-if="$store.getters.CATEGORIES.length > 0" class="section">
                <div v-for="(category, key) in $store.getters.CATEGORIES" :key="key">
                    <category-card :category="category" />
                </div>
            </section>
            <aside class="aside-block">
                <aside-block />
            </aside>
        </div>
    </div>
</template>

<script>
    import AsideBlock from '@/components/Template/AsideBlock.vue';
    import CategoryCard from '@/components/Cards/CardCategory.vue';

    export default {
        name: 'CategoriesPage',
        components: { AsideBlock, CategoryCard },
    };
</script>

<style lang="scss" scoped>
    @import "../../mixins/scss/blog-markup-with-aside";
</style>
