<template>
    <div>
        <header>
            <hero-slider />
        </header>

        <div class="content-wrap">
            <div class="content">
                <section class="section">
                    <newest-posts-block />

                    <router-link to="/post/all" class="load-more-button">Все новости</router-link>
                </section>
                <aside class="aside-block">
                    <aside-block />
                </aside>
            </div>
        </div>
    </div>
</template>

<script>
    import HeroSlider from '@/components/Template/HeroSlider.vue';
    import AsideBlock from '@/components/Template/AsideBlock.vue';
    import NewestPostsBlock from '@/components/Template/NewestPosts.vue';

    export default {
        name: 'MainPage',
        components: { HeroSlider, AsideBlock, NewestPostsBlock },
    };
</script>

<style lang="scss" scoped>
    @import "../../mixins/scss/blog-markup-with-aside";

    .load-more-button {
        position: relative;
        z-index: 1;
        padding: 0 25px;
        width: auto;
        margin-bottom: 20px;
        border: 1px solid #D7D7D7;
        font-size: 14px;
        border-radius: 50px;
        display: inline-block;
        font-weight: 400;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        text-decoration: none;
        outline: none;
        color: $light-grey;
        cursor: pointer;
    }
</style>
