<template>
    <div v-if="loadingComplete" class="post-wrap">
        <hero-post :post="post" />
        <article class="post">
            <span v-html="post.body" />
        </article>
    </div>
</template>

<script>
    import postApi from '@/services/post';
    import HeroPost from '@/components/Cards/HeroPost.vue';

    export default {
        name: 'PostPage',
        components: { HeroPost },
        data() {
            return {
                post: {},
                loadingComplete: false,
            };
        },
        methods: {
            async fetchPost() {
                try {
                    const { slug } = this.$route.params;
                    const { data } = await postApi.post('getpostbyslug', { slug });

                    if (data) {
                        this.post = data;
                        this.loadingComplete = true;
                    }
                } catch (e) {
                    this.loadingComplete = true;
                    await this.alertError('Новость не найдена');
                }
            },
        },
        created() {
            this.fetchPost();
        },
    };
</script>

<style lang="scss" scoped>
    .post-wrap {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .post {
        width: 66%;
        max-width: $blogWidth;
        text-align: left;
        padding: 60px 55px;
        margin-top: 100px;
        margin-bottom: 100px;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
        color: $primary;

        @media (max-width: $tabletBreakpoint) {
            width: calc(100% - 60px);
            margin-top: 10px;
            margin-bottom: 10px;
            padding: 20px;
        }
    }
</style>
