<template>
    <div class="all-posts-wrap">
        <div v-if="loadingComplete" class="all-posts">
            <card-full-height v-for="(post,key) in posts" :key="key" :post="post" />
        </div>

        <InfiniteLoading
            v-if="posts.length > 0"
            spinner="spiral"
            @infinite="fetchPosts"
        >
            <div slot="no-more" class="hidden">Всё загружено</div>
            <div slot="no-results" />
        </InfiniteLoading>
    </div>
</template>

<script>
    import InfiniteLoading from 'vue-infinite-loading';
    import postApi from '@/services/post';
    import CardFullHeight from '@/components/Cards/CardFullHeight.vue';

    export default {
        name: 'PostsPage',
        components: { InfiniteLoading, CardFullHeight },
        data() {
            return {
                loadingComplete: false,
                posts: [],
                page: 0,
            };
        },
        methods: {
            async fetchPosts($state) {
                try {
                    const { data } = await postApi.post('getallposts', { page: this.page });

                    if (data && data.length > 0) {
                        this.posts.push(...data);

                        if (this.page === 0) {
                            this.loadingComplete = true;
                        }

                        if (typeof $state !== 'undefined') {
                            $state.loaded();
                        }

                        this.page += 1;
                    } else if (data.length === 0) {
                        $state.complete();
                    }
                } catch (e) {
                    $state.complete();
                }
            },
        },
        created() {
            this.fetchPosts();
        },
    };
</script>

<style lang="scss" scoped>
    .all-posts-wrap {
        width: 100%;
        min-height: 80vh;
        padding-top: 90px;
        box-sizing: border-box;
    }

    .all-posts {
        width: 100%;
        max-width: $blogWidth;
        display: flex;
        flex-wrap: wrap;
        margin: auto;
    }

</style>
