<template>
    <div class="search-page-wrap">
        <form class="search-field" @submit.prevent="search">
            <input v-model="query" type="text" class="search-field__string">
            <button type="submit" class="search-field__button">
                <img src="@/assets/search.svg" alt="">
            </button>
        </form>

        <div class="search-posts-wrap">
            <div v-if="loadingComplete" class="search-posts">
                <div v-for="(post, key) in posts" :key="key" class="posts-wrap">
                    <router-link :to="`/post/${post.slug}`" class="search-posts__post">
                        <h6 class="search-post__name">{{ key + 1 }}. {{ post.name }}</h6>
                        <p class="search-post__lead">{{ post.lead }}</p>
                    </router-link>
                </div>
            </div>
            <div v-if="!postFound" class="search-posts">
                <h6 class="search-posts__error">Ничего не найдено</h6>
            </div>
        </div>
    </div>
</template>

<script>
    import postApi from '@/services/post';

    export default {
        name: 'SearchPage',
        data() {
            return {
                loadingComplete: false,
                postFound: true,
                posts: [],
                query: '',
            };
        },
        methods: {
            async fetchPosts(query) {
                const request = { query };

                try {
                    const { data } = await postApi.post('getpostsbyquery', request);

                    if (data && data.length > 0) {
                        this.posts = data;
                        this.loadingComplete = true;
                    }
                } catch {
                    this.postFound = false;
                }
            },
            search() {
                this.loadingComplete = false;
                this.fetchPosts(this.query);
            },
        },
        created() {
            if (this.$route.params.query) {
                this.query = this.$route.params.query;
                this.fetchPosts(this.query);
            }
        },
    };
</script>

<style lang="scss" scoped>
    .search-page-wrap {
        width: 100%;
        padding-top: 90px;
        min-height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        box-sizing: border-box;
        padding-right: 20px;
        padding-left: 20px;
    }

    .search-posts-wrap {
        width: 100%;
    }

    .search-posts {
        width: 100%;
        max-width: $blogWidth;
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        justify-content: center;
    }

    .search-posts__post {
        width: 100%;
        color: $primary;
        text-decoration: none;
        cursor: pointer;
        text-align: left;
    }

    .posts-wrap {
        display: flex;
        width: 100%;
    }

    .search-post__name {
        font-size: 24px;
        margin: 0;
    }

    .search-posts__error {
        font-size: 24px;
    }

    .search-field {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
    }

    .search-field__button {
        height: 36px;
        width: 30px;
        background-color: transparent;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border-left: none;
        border-width: 2px;
        border-color: $dark-grey;
        box-sizing: border-box;
        cursor: pointer;

        & img {
            width: 175%;
            margin-left: -4px;
        }
    }

    .search-field__string {
        width: 100%;
        max-width: 400px;
        height: 30px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        border-width: 2px;
        border-style: solid;
        border-color: $dark-grey;
        text-indent: 10px;

        &::placeholder {
            color: $dark-grey;
        }
    }
</style>
