<template>
    <div class="auth-wrap">
        <router-view />
    </div>
</template>

<script>
    export default {
        name: 'AuthTemplate',
    };
</script>

<style scoped>
    .auth-wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
    }
</style>
