<template>
    <form class="auth-form">
        <label for="name">Имя пользователя</label>
        <input
            id="name"
            v-model="user.name"
            type="text"
            placeholder="Обязательное поле"
        >

        <label for="pwd">Пароль</label>
        <input
            id="pwd"
            v-model="user.pwd"
            type="password"
            placeholder="Обязательное поле"
        >

        <button type="submit" @click.prevent="sendData">Войти</button>

        <div>
            Пока нет аккаунта?
            <router-link to="/signup">Зарегистрироваться</router-link>
        </div>

        <span class="social-signin-divider">Войти через социальную сеть</span>

        <ul class="social-signin">
            <li>
                <a
                    class="social-signin-item"
                    href="http://localhost:3000/api/v1/user/auth/google"
                >
                    <img
                        class="social-signin-item__logo"
                        src="../../../assets/socials-icons/google-social-logo.svg"
                        alt=""
                    >
                </a>
            </li>
            <li>
                <a
                    class="social-signin-item"
                    href="http://localhost:3000/api/v1/user/auth/vk"
                >
                    <img
                        class="social-signin-item__logo"
                        src="../../../assets/socials-icons/vk-social-logo.svg"
                        alt=""
                    >
                </a>
            </li>
            <li>
                <a
                    class="social-signin-item"
                    href="http://localhost:3000/api/v1/user/auth/facebook"
                >
                    <img
                        class="social-signin-item__logo"
                        src="../../../assets/socials-icons/facebook-social-logo.svg"
                        alt=""
                    >
                </a>
            </li>
        </ul>
    </form>
</template>

<script>
    import VueJwtDecode from 'vue-jwt-decode';
    import userApi from '@/services/user';

    export default {
        name: 'Signin',
        data() {
            return {
                user: {
                    name: '',
                    pwd: '',
                },
            };
        },
        methods: {
            async resultSuccess(token) {
                window.sessionStorage.setItem('payload', token);
                await this.$store.dispatch('fetchUser');
                await this.alertSuccess('Авторизация прошла успешно');
                await this.$router.push('/');
            },
            async sendData() {
                try {
                    const { data } = await userApi.post('signin', this.user);

                    await this.resultSuccess(data);
                } catch (e) {
                    await this.alertError(e.response.data);
                }
            },
            async parseToken(token) {
                const { user } = VueJwtDecode.decode(token);

                if (!user.success) {
                    await this.alertError(user.err);

                    return;
                }

                await this.resultSuccess(token);
            },
        },
        created() {
            const token = this.$route.params.jwt;
            if (token) {
                this.parseToken(token);
            }
        },
    };
</script>

<style lang="scss" scoped>
    @import "../../../mixins/scss/form";

    .social-signin-divider {
        position: relative;
        padding: 10px;
        box-sizing: border-box;
        white-space: nowrap;

        @media (max-width: $tabletBreakpoint) {
            margin-top: 40px;
        }

        &:before,
        &:after {
            content: '';
            position: absolute;
            width: 50%;
            border-bottom: 1px solid $light-grey;
            top: 50%;

            @media (max-width: $tabletBreakpoint) {
                content: '';
                position: absolute;
                width: 10%;
                border-bottom: 1px solid $light-grey;
                top: 50%;
            }
        }

        &:after {
            left: 100%;
            margin-left: 15px;
        }

        &:before {
            right: 100%;
            margin-right: 15px;
        }
    }

    .social-signin {
        display: flex;
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .social-signin-item {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #F1F1F1;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        margin: 40px;

        @media (max-width: $tabletBreakpoint) {
            margin: 20px;
        }

        &:hover {
            border-color: #00B7FF;
        }
    }

    .social-signin-item__logo {
        width: 40px;
        height: 40px;
    }
</style>
