<template>
    <form class="auth-form">
        <label for="name">Имя пользователя</label>
        <input
            id="name"
            v-model="user.name"
            type="text"
            placeholder="Обязательное поле"
        >
        <transition name="fade">
            <p v-if="needErrorCheck && nameErr">{{ nameErr }}</p>
        </transition>

        <label for="email">Адрес электронной почты</label>
        <input
            id="email"
            v-model="user.email"
            type="text"
            placeholder="Обязательное поле"
        >
        <transition name="fade">
            <p v-if="needErrorCheck && emailErr">{{ emailErr }}</p>
        </transition>

        <label for="pwd">Пароль</label>
        <input
            id="pwd"
            v-model="user.pwd"
            type="password"
            placeholder="Обязательное поле"
        >
        <transition name="fade">
            <p v-if="needErrorCheck && pwdErr">{{ pwdErr }}</p>
        </transition>

        <label for="pwdConfirm">Подтверждение пароля</label>
        <input
            id="pwdConfirm"
            v-model="user.pwdConfirm"
            type="password"
            placeholder="Обязательное поле"
        >
        <transition name="fade">
            <p v-if="needErrorCheck && pwdConfirmErr">{{ pwdConfirmErr }}</p>
        </transition>

        <button type="submit" @click.prevent="sendData">Зарегистрироваться</button>
    </form>
</template>

<script>
    import userApi from '@/services/user';

    export default {
        name: 'SignupPage',
        data() {
            return {
                user: {
                    name: '',
                    email: '',
                    pwd: '',
                    pwdConfirm: '',
                },
                needErrorCheck: false,
            };
        },
        computed: {
            pwdConfirmErr() {
                return (this.user.pwd !== this.user.pwdConfirm) ? 'Пароли не совпадают' : '';
            },
            emailErr() {
                const re = /\S+@\S+\.\S+/;
                return (re.test(String(this.user.email).toLowerCase())) ? '' : 'Некорректный адрес';
            },
            nameErr() {
                return (this.user.name.length < 4) ? 'Минимум 4 символа' : '';
            },
            pwdErr() {
                return (this.user.pwd.length < 4) ? 'Минимум 4 символа' : '';
            },
        },
        methods: {
            async sendData() {
                this.needErrorCheck = true;

                if (this.pwdConfirmErr === this.emailErr && this.emailErr === this.nameErr) {
                    try {
                        await userApi.post('signup', this.user);
                        await this.alertSuccess('Регистрация прошла успешно. Вы можете войти под своим аккаунтом');
                        await this.$router.push('/signin');
                    } catch (e) {
                        await this.alertError(e.response.data);
                    }
                }
            },
        },
    };
</script>

<style lang="scss" scoped>
    @import "../../../mixins/scss/form";
</style>
