<template>
    <div class="preloader-wrap">
        <div class="preloader">
            <div class="preloader__animation" />
        </div>
    </div>
</template>

<script>
    export default {
        name: 'Preloader',
    };
</script>

<style lang="scss" scoped>
    @mixin transform($value) {
        -webkit-transform: $value;
        transform: $value;
    }

    .preloader-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $primary;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1000000;
    }

    .preloader__animation {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #F1F1F1;
        animation: world 2400ms linear infinite;
        z-index: 999;

        &:before {
            content: "";
            position: absolute;
            top: 7.5px;
            left: 7.5px;
            right: 7.5px;
            bottom: 7.5px;
            border-radius: 50%;
            border: 3px solid transparent;
            border-top-color: #F1F1F1;
            animation: world 2700ms linear infinite;
        }

        &:after {
            content: "";
            position: absolute;
            top: 20px;
            left: 20px;
            right: 20px;
            bottom: 20px;
            border-radius: 50%;
            border: 3px solid transparent;
            border-top-color: #F1F1F1;
            animation: world 1800ms linear infinite;
        }
    }

    @-webkit-keyframes world {
        0% {
            @include transform(rotate(0deg));

        }
        100% {
            @include transform(rotate(360deg));
        }
    }

    @keyframes world {
        0% {
            @include transform(rotate(0deg));

        }
        100% {
            @include transform(rotate(360deg));
        }
    }
</style>
