<template>
    <div v-if="contentBlocked" class="shadow" />
</template>

<script>
    export default {
        name: 'ShadowBlocker',
        computed: {
            contentBlocked() {
                return this.$store.getters.CONTENT_BLOCKED;
            },
        },
    };
</script>

<style scoped>
    .shadow {
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 3;
    }
</style>
