<template>
    <div class="card-compact-wrap">
        <router-link
            :to="`/post/${post.slug}`"
            class="card-compact-link"
            :title="post.name"
        >
            <div class="card-compact-inner">
                <div class="card-compact-front">
                    <img
                        :src="$thumbnail(post.image, 80, 80)"
                        :alt="post.name"
                        class="card-compact-front__image"
                    >
                    <p class="card-compact-front__title">{{ post.name }}</p>
                </div>

                <div class="card-compact-back">
                    <p>{{ post.lead }}</p>
                </div>
            </div>
        </router-link>
    </div>
</template>

<script>
    export default {
        name: 'CardCompact',
        props: {
            post: {
                type: Object,
                default() {
                    return {
                        slug: '',
                        name: '',
                        image: '',
                        lead: '',
                    };
                },
            },
        },
    };
</script>

<style lang="scss" scoped>
    .card-compact-wrap {
        width: 100%;
        min-height: 80px;
        background-color: transparent;
        border: 1px solid #F1F1F1;
        perspective: 1000px;

        &:hover {
            min-height: 150px;
            transition: min-height 0.25s ease-in-out;
        }

        &:hover .card-compact-inner {
            transform: rotateY(180deg);
        }
    }

    .card-compact-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
        background-color: $backgroundLight;
    }

    .card-compact-front,
    .card-compact-back {
        position: absolute;
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        background-color: $backgroundLight;
    }

    .card-compact-back {
        display: flex;
        align-items: center;
        justify-content: center;
        transform: rotateY(180deg);
    }

    .card-compact-link {
        display: flex;
        color: $primary;
        text-decoration: none;
        height: 100%;

        &:hover {
            cursor: pointer;
        }

        &:focus {
            text-decoration: underline;
        }
    }

    .card-compact-front__image {
        margin-right: 10px;
    }
</style>
