<template>
    <div class="category-card">
        <router-link
            :to="`/category/${category.slug}`"
            class="category-link"
            :title="category.name"
        >
            <div class="category-image">
                <img
                    :src="$thumbnail(category.image, 800, 200)"
                    :alt="category.name"
                    class="category-image__image"
                >
            </div>

            <h3 class="category-name">
                {{ category.name }}
                <span class="category-counter">
                    ({{ category.posts }})
                </span>
            </h3>
        </router-link>
    </div>
</template>

<script>
    export default {
        name: 'CategoryCard',
        props: {
            category: {
                type: Object,
                default() {
                    return {};
                },
            },
        },
    };
</script>

<style lang="scss" scoped>
    .category-card {
        width: 100%;
        box-sizing: border-box;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
        margin-bottom: 20px;

        &:hover .category-image__image {
            transform: scale(1.2);
        }
    }

    .category-image__image {
        width: 100%;
        transition-duration: 1s;
    }

    .category-link {
        text-decoration: none;
        color: $dark-grey;
    }

    .category-image {
        overflow: hidden;
    }

    .category-counter {
        color: $light-grey;
    }
</style>
