<template>
    <div class="post-wrap">
        <div class="post">
            <div
                class="post-image"
                :style="{ 'background-image': `url(${$thumbnail(post.image, 580, 200)})`}"
            >
                <span class="post-image__category">
                    {{ post.category }}
                </span>
            </div>
            <router-link
                class="post-description"
                :to="{name: 'Post', params: {slug: post.slug, id: post._id}}"
            >
                <h5 class="post-description__name">{{ post.name }}</h5>
                <p class="post-description__lead">{{ post.lead }}</p>
            </router-link>
            <div class="post-info-wrap">
                <ul class="post-info">
                    <li class="post-info-item">
                        <img class="post-info-item__icon" src="../../assets/calendar.svg" alt="">
                        <span>{{ formatTime(post.date) }}</span>
                    </li>
                    <li class="post-info-item">
                        <img class="post-info-item__icon" src="../../assets/eye.svg" alt="">
                        <span>{{ post.readersCounter }}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
    import moment from 'moment';

    export default {
        name: 'CardFullHeight',
        props: {
            post: {
                type: Object,
                default: () => {
                    this.alertError('Не удалось загрузить');
                },
            },
        },
        methods: {
            formatTime(date) {
                moment.locale('ru');

                if (moment(date).isSame(moment(), 'hour')) {
                    return moment(date).startOf('minute').fromNow();
                }

                if (moment(date).isSame(moment(), 'day')) {
                    return moment(date).startOf('hour').fromNow();
                }

                return moment(date).format('DD MMMM, HH:mm');
            },
        },
    };
</script>

<style lang="scss" scoped>
    .post-wrap {
        display: flex;
        width: 50%;
        padding: 10px;
        box-sizing: border-box;
        justify-content: center;
        align-items: center;
    }

    .post {
        display: flex;
        width: 100%;
        flex-direction: column;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
        padding: 10px;
    }

    @media (max-width: $blogWidth) {
        .post-wrap {
            width: 33%;
        }
    }

    @media (max-width: $tabletBreakpoint) {
        .post-wrap {
            width: 50%
        }
    }

    @media (max-width: $smartphoneBreakpoint) {
        .post-wrap {
            width: 100%;
        }
    }

    .post-image {
        width: 100%;
        height: 200px;
        padding: 20px;
        text-align: left;
        box-sizing: border-box;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .post-image__category {
        background-color: rgba(255, 255, 255, 0.5);
        padding: 5px;
    }

    .post-description {
        text-align: left;
        padding-left: 20px;
        padding-right: 20px;
        box-sizing: border-box;
        text-decoration: none;
        color: $primary;
    }

    .post-description__name {
        width: 100%;
        display: block;
        box-sizing: border-box;
        text-align: left;
        font-size: 1.2rem;
    }

    .post-description__lead {
        color: $light-grey;
    }

    .post-info-wrap {
        border-top: 2px solid #F1F1F1;
        padding: 20px;
        box-sizing: border-box;
    }

    .post-info {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: flex;
        justify-content: space-between;
    }

    .post-info-item {
        display: flex;
        align-items: center;
    }

    .post-info-item__icon {
        width: 20px;
        margin-right: 5px;
    }
</style>
