<template>
    <div
        class="hero-post-wrap"
        :style="{ 'background-image': `url(${$thumbnail(post.image, 1920, 480)})`}"
    >
        <div class="hero-post">
            <div class="hero-post-link-wrap">
                <router-link :to="`/post/${post.slug}`" class="hero-post-link">
                    <h2 class="hero-post-link__name">{{ post.name }}</h2>
                    <div class="hero-post-link__lead">{{ post.lead }}</div>
                </router-link>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'HeroPost',
        props: {
            post: {
                type: Object,
                default() {
                    return {
                        _id: '',
                        name: '',
                        lead: '',
                        image: '',
                    };
                },
            },
        },
    };
</script>

<style lang="scss" scoped>
    .hero-post-wrap {
        display: flex;
        justify-content: center;
        width: 100%;
        min-height: 200px;
    }

    .hero-post {
        width: 100%;
        max-width: $blogWidth;
        height: 480px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .hero-post {
        display: flex;
        padding-bottom: 20px;
        box-sizing: border-box;
    }

    .hero-post-link-wrap {
        width: 100%;
        margin-top: auto;
        background-color: rgba(255, 255, 255, 0.5);
    }

    .hero-post-link {
        display: block;
        width: 60%;
        padding-right: 20px;
        padding-left: 20px;
        box-sizing: border-box;
        text-align: left;
        text-decoration: none;
    }

    @media (max-width: $blogWidth) {
        .hero-post-link {
            padding-right: 40px;
            padding-left: 40px;
        }
    }

    @media (max-width: $tabletBreakpoint) {
        .hero-post-link {
            width: 100%;
            padding-right: 20px;
            padding-left: 20px;
        }
    }

    .hero-post-link__name {
        margin: 0;
        font-size: 1.5rem;
        color: $primary;
    }

    .hero-post-link__lead {
        color: $primary;
    }
</style>
