<template>
    <div class="sidebar">
        <about-block />

        <div class="top-posts">
            <h3 class="top-posts__title">
                Самые читаемые за неделю
            </h3>
            <div v-if="topPosts.length > 0" class="top-posts__list">
                <div v-for="(post, key) in topPosts" :key="key" class="top-post-card">
                    <card-compact :post="post" />
                </div>
            </div>
        </div>
        <div class="socials-block">
            <socials-block />
        </div>
    </div>
</template>

<script>
    import SocialsBlock from '@/components/Blocks/SocialsBlock.vue';
    import CardCompact from '@/components/Cards/CardCompact.vue';
    import AboutBlock from '@/components/Blocks/AboutBlock.vue';

    export default {
        name: 'AsideBlock',
        components: { SocialsBlock, CardCompact, AboutBlock },
        data() {
            return {
                topPosts: [],
            };
        },
        async created() {
            if (this.$store.getters.TOP_POSTS.length === 0) {
                await this.$store.dispatch('fetchTopPosts');
            }

            this.topPosts = this.$store.getters.TOP_POSTS;
        },
    };
</script>

<style lang="scss" scoped>
    .sidebar {
        width: 100%;
    }

    .top-posts {
        order: 2;
        border-bottom: 2px solid #F1F1F1;
    }

    .top-posts__list {
        padding: 20px;
        box-sizing: border-box;
    }

    .top-post-card {
        display: flex;
        justify-content: flex-start;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
        margin-bottom: 10px;
        text-decoration: none;
        color: $primary;
    }

    .socials-block {
        order: 3;
    }

    @media (max-width: $blogWidth) {
        .sidebar {
            display: flex;
            flex-direction: column;
        }

        .top-posts {
            order: 1;
        }

        .top-posts__list {
            display: flex;
            flex-wrap: wrap;
        }

        .top-post-card {
            width: calc(50% - 10px);
        }
    }

    @media (max-width: $tabletBreakpoint) {
        .top-post-card {
            width: 100%;
        }
    }
</style>
