<template>
    <div class="mobile-menu">
        <div id="menuToggle" class="menu-icon" @click="toggleMenu">
            <label for="menu-icon" />
            <input id="menu-icon" type="checkbox" :class="menuIsShown ? 'menu-active': ''">
            <span id="span1" />
            <span id="span2" />
            <span id="span3" />
            <ul v-if="menuIsShown" class="mobile-menu-list">
                <li class="mobile-menu-item">
                    <router-link to="/" class="mobile-menu-item__link" href="">Домой</router-link>
                </li>
                <div v-if="categories.length > 0">
                    <li
                        v-for="(category, key) in categories"
                        :key="key"
                        class="mobile-menu-item"
                    >
                        <router-link
                            :to="`/category/${category.slug}`"
                            class="mobile-menu-item__link"
                            @click.prevent="goToPage(category.slug)"
                        >
                            {{ category.name }}
                        </router-link>
                    </li>
                </div>
                <li class="mobile-menu-item">
                    <router-link to="/search" href="" class="mobile-menu-item__link">Поиск</router-link>
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'BlogMobileMenu',
        data() {
            return {
                categories: this.$store.getters.CATEGORIES,
                menuIsShown: false,
            };
        },
        methods: {
            toggleMenu() {
                if (this.menuIsShown) {
                    this.hideMenu();
                } else {
                    this.showMenu();
                }
            },
            showMenu() {
                this.menuIsShown = true;
                this.$emit('mobile-menu-shown');
            },
            hideMenu() {
                this.menuIsShown = false;
            },
            goToPage(slug) {
                this.menuIsShown = false;
                this.$router.push(`/category/${slug}`);
            },
        },
    };
</script>

<style lang="scss" scoped>
    .mobile-menu {
        display: none;
        width: 50px;
        height: 50px;
        margin-right: 20px;
        position: relative;
        margin-left: auto;
    }

    @media (max-width: $tabletBreakpoint) {
        .mobile-menu {
            display: block;
        }
    }

    #menuToggle {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 2px;

        & input {
            display: flex;
            width: 30px;
            height: 30px;
            position: absolute;
            cursor: pointer;
            opacity: 0;
            z-index: 1;
        }

        & span {
            width: 30px;
            height: 3px;
            margin-bottom: 5px;
            background: $light-grey;
            border-radius: 4px;
            transition: all .5s cubic-bezier(.08, .81, .87, .71);
        }
    }

    #span1 {
        transform-origin: 4px 0px;
    }

    #span3 {
        transform-origin: bottom right;
    }

    #menuToggle {
        & .menu-active ~ #span1 {
            background-color: $backgroundLight;
            transform: rotate(45deg) translate(1px, 2px);
        }

        & .menu-active ~ #span2 {
            background-color: $backgroundLight;
            transform: rotate(495deg) translate(5px, 3px);
        }

        & .menu-active ~ #span3 {
            background-color: $backgroundLight;
            transform: rotate(45deg);
            opacity: 0;
        }

        & .menu-active ~ .mobile-menu-list {
            display: block;
            position: absolute;
            top: 50px;
            right: -20px;
            width: 100vw;
            padding-top: 10px;
            padding-bottom: 15px;
        }
    }

    .mobile-menu-list {
        display: none;
        background-color: $primary;
        margin: 0;
    }

    .mobile-menu-item {
        padding: 5px;
        box-sizing: border-box;
        list-style-type: none;
    }

    .mobile-menu-item__link {
        display: block;
        font-size: 1rem;
        font-weight: 400;
        text-decoration: none;
        outline: none;
        color: $light-grey;
    }
</style>
