<template>
    <div class="menu-wrap">
        <ul class="menu">
            <div class="menu-logo">
                <router-link to="/">
                    <img class="menu-logo__image" src="../../assets/logo.png" alt="">
                </router-link>
            </div>

            <ul class="menu-items">
                <li class="menu-items-item">
                    <router-link to="/" class="menu-items-item__link" href="">Домой</router-link>
                </li>

                <li class="menu-items-item dropdown-menu-wrap">
                    <router-link to="/categories" class="menu-items-item__link" href="">
                        Категории
                    </router-link>
                    <ul v-if="categories.length > 0" class="dropdown-menu categories-menu">
                        <li
                            v-for="(category, key) in categories"
                            :key="key"
                            class="dropdown-menu-item"
                        >
                            <router-link
                                :to="`/category/${category.slug}`"
                                class="dropdown-menu-item__link"
                            >
                                {{ category.name }}
                            </router-link>
                        </li>
                    </ul>
                </li>

                <li class="menu-items-item search-wrap" @blur="searchString = ''">
                    <button
                        type="submit"
                        class="search-icon"
                        @submit.prevent="searchPosts"
                    >
                        <img
                            class="search-icon__icon"
                            src="../../assets/search.svg"
                            alt=""
                            @click.prevent="searchPosts"
                        >
                    </button>
                    <label for="search" />
                    <input
                        id="search"
                        v-model="searchString"
                        type="text"
                        class="search-field"
                        placeholder="Начните вводить текст..."
                        @keyup.enter.prevent="searchPosts"
                    >
                </li>
            </ul>
        </ul>

        <div
            class="menu-items-item"
            @click="openAccountMenu"
            @mouseover="openAccountMenu"
            @mouseleave="closeAccountMenu"
        >
            <router-link v-if="!username" to="/signin" class="menu-items-item__link">
                <img src="../../assets/account.svg" alt="" class="account-icon">
            </router-link>

            <div v-else class="dropdown-menu-wrap">
                <img src="../../assets/account.svg" alt="" class="account-icon account-icon_active">
                <span class="account-name">{{ username }}</span>
                <ul v-if="userMenuIsShown" class="dropdown-menu account-menu">
                    <li class="dropdown-menu-item">
                        <button class="dropdown-menu-item__link" @click.prevent="signout">
                            Выйти
                        </button>
                    </li>
                </ul>
            </div>
        </div>

        <blog-mobile-menu ref="mobileMenu" @mobile-menu-shown="closeAccountMenu" />
    </div>
</template>

<script>
    import BlogMobileMenu from '@/components/Template/BlogMobileMenu.vue';

    export default {
        name: 'BlogMenu',
        components: { BlogMobileMenu },
        data() {
            return {
                searchString: '',
                categories: this.$store.getters.CATEGORIES,
                userMenuIsShown: false,
            };
        },
        computed: {
            username() {
                return this.$store.getters.USERNAME;
            },
        },
        methods: {
            searchPosts() {
                this.$router.push(`/search/${this.searchString}`);
            },
            async signout() {
                await this.$store.dispatch('signoutUser');
                await this.alertSuccess('Вы вышли из аккаунта');
            },
            openAccountMenu() {
                if (this.username) {
                    this.userMenuIsShown = !this.userMenuIsShown;

                    if (this.$refs.mobileMenu && typeof this.$refs.mobileMenu.hideMenu === 'function') {
                        this.$refs.mobileMenu.hideMenu();
                    }
                }
            },
            closeAccountMenu() {
                this.userMenuIsShown = false;
            },
        },
    };
</script>

<style lang="scss" scoped>
    .menu-wrap {
        position: fixed;
        top: 20px;
        left: 0;
        display: flex;
        justify-content: center;
        width: 100%;
        background-color: $primary;
        z-index: 2;
    }

    .menu {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        max-width: $blogWidth;
        height: 50px;
        background-color: $primary;
        margin: 0;
        padding: 0;
    }

    .menu-logo__image {
        display: block;
        height: 40px;

        @media (max-width: $blogWidth) {
            margin-left: 40px;
        }

        @media (max-width: $tabletBreakpoint) {
            margin-left: 20px;
        }
    }


    .menu-items {
        display: flex;
        flex-grow: 1;
        justify-content: flex-end;
        text-align: right;
        color: $light-grey;

        @media (max-width: $tabletBreakpoint) {
            display: none;
        }
    }


    .menu-items-item,
    .dropdown-menu-item {
        display: inline-block;
        list-style-type: none;
        transition-duration: 0.5s;
    }

    .menu-items-item {
        display: flex;
        height: 50px;
        margin-right: 40px;
        align-items: center;

        &:hover {
            cursor: pointer;
            color: #FFFFFF;
        }

        & a {
            margin: auto;
        }

        & span {
            margin: auto;
        }
    }

    .menu-items-item__link {
        font-size: 1rem;
        font-weight: 400;
        color: $light-grey;
        text-decoration: none;
        outline: none;
        transition-duration: 500ms;

        &:focus {
            color: #FFFFFF;
        }

        &:hover {
            color: #FFFFFF;
        }
    }

    .menu-items-item_active .menu-items-item__link {
        color: $backgroundLight;

        &:focus {
            color: #FFFFFF;
        }
    }

    .dropdown-menu-item {
        width: 100%;
        box-sizing: border-box;

        &:hover {
            cursor: pointer;
        }
    }

    .dropdown-menu-wrap {
        position: relative;
        display: flex;

        &:hover .categories-menu {
            display: block;
            visibility: visible;
            opacity: 1;
        }
    }

    .dropdown-menu {
        position: absolute;
        padding: 0;
        box-sizing: border-box;
        border-radius: 10px;
        background-color: $backgroundLight;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
        overflow: hidden;


        &.categories-menu {
            display: none;
            top: 40px;
            right: -50%;
        }

        &.account-menu {
            display: flex;
            top: 18px;
            right: 0;

            @media (max-width: $blogWidth) {
                top: 20px;
                right: -50%;
            }
        }
    }

    .dropdown-menu-item__link {
        display: block;
        width: 100%;
        padding: .25rem 1.5rem;
        box-sizing: border-box;
        color: $light-grey;
        text-decoration: none;
        white-space: nowrap;
        border: none;
        cursor: pointer;

        &:hover {
            background-color: #F8F9FA;
            color: #16181B;
            text-decoration: none;
        }

        &:focus {
            text-decoration: underline;
        }
    }

    .search-wrap {
        position: relative;
        width: 40px;
        transition: width 1s;
        transition-timing-function: ease-in-out;

        &:hover {
            width: 400px;
        }

        &:hover .search-field {
            display: block;
        }
    }

    @media (max-width: 1000px) {
        .search-wrap {
            cursor: pointer;

            &:hover {
                width: 40px;
            }

            &:hover .search-field {
                display: none;
            }
        }

        .search-icon__icon {
            cursor: pointer;
        }
    }

    .search-icon {
        position: absolute;
        background: transparent;
        border: none;
        top: 10px;
        right: 10px;
        width: 30px;
        padding: 0;
    }

    .search-icon__icon {
        width: 100%;
    }

    .search-field {
        display: none;
        height: 30px;
        width: 100%;
        margin: auto;
        background: transparent;
        box-shadow: none;
        border: 1px solid $light-grey;
        border-radius: 10px;
        color: $backgroundLight;
        text-indent: 10px;

        &::placeholder {
            color: $light-grey;
            font-size: 0.8rem;
        }
    }

    .account-icon {
        width: 28px;
        margin-top: 2px;
        opacity: 0.6;
        transition-duration: 500ms;
        padding-right: 5px;

        &:hover {
            opacity: 1;
        }

        &.account-icon_active {
            opacity: 1;
        }
    }

    .account-name {
        white-space: nowrap;
        color: $light-grey;
        transition-duration: 500ms;

        &:hover {
            color: #FFFFFF;
        }

        @media (max-width: $blogWidth) {
                display: none;
        }
    }
</style>
