<template>
    <div class="footer-wrap">
        <div class="footer">
            <div class="footer-about">
                <img class="footer-about__logo" src="../../assets/logo.png" alt="">
                <p class="footer-about__text">
                    Copyright ©2020 All rights reserved | This template is based on work by Colorlib
                </p>
            </div>

            <div class="categories-full">
                <ul v-if="$store.getters.CATEGORIES.length > 0" class="categories-full-list">
                    <li v-for="(category, key) in categories" :key="key">
                        <router-link
                            :to="category.slug"
                            class="categories-full-list__item"
                        >
                            {{ category.name }}
                        </router-link>
                    </li>
                </ul>
            </div>

            <div class="subscribe-block">
                <h4 class="subscribe-block__header">Подпишитесь</h4>
                <div class="subscribe-block-email">
                    <label for="subscribe" />
                    <input
                        id="subscribe"
                        v-model="userEmail"
                        type="email"
                        class="subscribe-block-email__input"
                        placeholder="Введите адрес почты"
                    >
                    <button class="subscribe-block-send" type="submit">
                        <img
                            class="subscribe-block-send__img"
                            src="../../assets/right-arrow-icon.svg"
                            alt=""
                        >
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'BlogFooter',
        data() {
            return {
                categories: this.$store.getters.CATEGORIES,
                userEmail: '',
            };
        },
    };
</script>

<style lang="scss" scoped>
    .footer-wrap {
        width: 100%;
        color: $backgroundLight;
        background-color: $primary;
        margin-top: 20px;
        min-height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .footer {
        width: 100%;
        max-width: $blogWidth;
        display: flex;
        justify-content: space-between;
        padding: 20px;
    }

    .footer-about {
        width: 30%;
        text-align: left;
    }

    .footer-about__logo {
        height: 60px;
    }

    .categories-full {
        width: 30%;
    }

    .categories-full-list {
        list-style-type: none;
        column-count: 2;
        text-align: left;
        margin: 0;
        padding: 0;
    }

    .categories-full-list__item {
        color: $backgroundLight;
        text-decoration: none;
        line-height: 40px;
    }

    .subscribe-block {
        width: 30%;
        text-align: left;
    }

    .subscribe-block__header {
        margin: 0;
        font-size: 1.2rem;
        font-weight: 700;
    }

    .subscribe-block-email {
        position: relative;
    }

    .subscribe-block-email__input {
        width: 100%;
        height: 35px;
        background-color: transparent;
        border: none #959595;
        border-bottom: 1px solid;
        color: #959595;
        font-size: 0.8rem;
        padding: 0 5px;
    }

    .subscribe-block-send {
        border: none;
        background-color: transparent;
    }

    .subscribe-block-send__img {
        position: absolute;
        top: 12px;
        right: 0;
        width: 15px;
    }

    @media (max-width: $tabletBreakpoint) {
        .footer-about {
            width: 45%;
        }

        .categories-full {
            display: none;
        }

        .subscribe-block {
            width: 45%;
        }
    }

    @media (max-width: $smartphoneBreakpoint) {
        .footer {
            flex-direction: column;
        }

        .footer-about {
            width: 100%;
            order: 2;
        }

        .subscribe-block {
            width: 100%;
            order: 1;
        }
    }
</style>
