<template>
    <div v-if="this.$store.getters.HERO_POSTS.length > 0" class="hero-slider">
        <carousel
            :autoplay="true"
            :autoplay-timeout="5000"
            :autoplay-hover-pause="true"
            :per-page="1"
            :pagination-enabled="false"
            :loop="true"
        >
            <slide v-for="(post, key) in posts" :key="key">
                <hero-post :post="post" />
            </slide>
        </carousel>
    </div>
</template>

<script>
    import { Carousel, Slide } from 'vue-carousel';
    import HeroPost from '@/components/Cards/HeroPost.vue';

    export default {
        name: 'HeroSlider',
        components: { HeroPost, Carousel, Slide },
        data() {
            return {
                posts: [],
            };
        },
        async created() {
            if (this.$store.getters.HERO_POSTS.length === 0) {
                await this.$store.dispatch('fetchHeroPosts');
            }

            this.posts = this.$store.getters.HERO_POSTS;
        },
    };
</script>
