<template>
    <div v-if="posts !== []" class="newest-post-wrap">
        <card-full-height v-for="(post, key) in posts" :key="key" :post="post" />
    </div>
</template>

<script>
    import postApi from '@/services/post';
    import CardFullHeight from '@/components/Cards/CardFullHeight.vue';

    export default {
        name: 'MainContent',
        components: { CardFullHeight },
        data() {
            return {
                posts: [],
            };
        },
        methods: {
            async fetchPosts() {
                try {
                    const { data } = await postApi.post('getnewestposts');

                    if (data.length === 0) {
                        this.alertError('Не удалось загрузить новости');
                    }

                    this.posts = data;
                } catch (e) {
                    this.alertError('Неизвестная ошибка');
                }
            },
        },
        async created() {
            await this.fetchPosts();
        },
    };
</script>

<style lang="scss" scoped>
    .newest-post-wrap {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        box-sizing: border-box;
    }

    @media (max-width: $blogWidth) {
        .newest-post-wrap {
            padding-left: 10px;
            padding-right: 10px;
        }
    }
</style>
