<template>
    <div id="app">
        <router-view />
    </div>
</template>

<style lang="scss">
    body, html {
        margin: 0;
        padding: 0;
    }

    body {
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        text-align: left;
    }

    html {
        font-size: 16px;
    }

    #app {
        align-items: center;
        font-family: 'Nunito', sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: $dark-grey;
    }

    h3 {
        width: 100%;
        text-align: left;
        padding: 20px;
        box-sizing: border-box;
        border-bottom: 2px solid #F1F1F1;
        font-size: 1.2rem;
        font-weight: bold;
        margin: 0;
    }
</style>
