<template>
    <div>
        <div v-if="!loadingInProgress">
            <nav>
                <blog-menu />
            </nav>

            <transition name="fade">
                <router-view :key="$route.fullPath" />
            </transition>

            <footer>
                <blog-footer />
            </footer>
        </div>

        <preloader v-if="loadingInProgress" />
        <shadow-blocker />
    </div>
</template>

<script>
    import Preloader from '@/components/ContentBlockers/Preloader.vue';
    import ShadowBlocker from '@/components/ContentBlockers/ShadowBlocker.vue';
    import BlogMenu from '@/components/Template/BlogMenu.vue';
    import BlogFooter from '@/components/Template/BlogFooter.vue';

    export default {
        name: 'BlogTemplate',
        components: {
            Preloader,
            ShadowBlocker,
            BlogMenu,
            BlogFooter,
        },
        data() {
            return {
                loadingInProgress: true,
                timerRunOut: false,
            };
        },
        methods: {
            async identificateUser() {
                if (this.$store.USERNAME !== '') {
                    await this.$store.dispatch('fetchUser');
                }
            },
            async fetchData() {
                await this.$store.dispatch('fetchCategories');
                await this.identificateUser();

                if (this.timerRunOut) {
                    this.loadingInProgress = false;
                }
            },
            startTimer() {
                setTimeout(() => {
                    if (this.dataFetched()) {
                        this.loadingInProgress = false;
                    } else {
                        this.timerRunOut = true;
                    }
                }, 2000);
            },
            dataFetched() {
                return this.$store.getters.CATEGORIES.length !== 0 || this.$store.getters.USERNAME !== '';
            },
        },
        created() {
            if (!this.dataFetched()) {
                this.fetchData();
                this.startTimer();
            } else {
                this.loadingInProgress = false;
            }
        },
    };
</script>
