<template>
    <div class="about-block">
        <h3 class="about-block__title">
            О блоге
        </h3>
        <p class="about-block__description">
            The mango is perfect in that it is always yellow and if it’s not, I don’t want to
            hear about it. The mango’s only flaw, and it’s a minor one, is the effort it
            sometimes takes to undress the mango, carve it up in a way that makes sense, and
            find its way to the mouth.
        </p>
    </div>
</template>

<script>
    export default {
        name: 'AboutBlock',
    };
</script>

<style lang="scss" scoped>
    .about-block {
        order: 1;
    }

    .about-block__description {
        width: 100%;
        text-align: left;
        padding: 20px;
        box-sizing: border-box;
        border-bottom: 2px solid #F1F1F1;
    }

    @media (max-width: $blogWidth) {
        .about-block {
            order: 2;
        }
    }
</style>
