<template>
    <div class="socials">
        <h3 class="socials__title">
            Мы в социальных сетях
        </h3>
        <div class="socials-list">
            <a href="#" class="socials-list-item">
                <img
                    class="socials-list-item__logo"
                    src="../../assets/socials-icons/vk-social-logo.svg"
                    alt=""
                >
            </a>
            <a href="#" class="socials-list-item">
                <img
                    class="socials-list-item__logo"
                    src="../../assets/socials-icons/telegram-social-logo.svg"
                    alt=""
                >
            </a>
            <a href="#" class="socials-list-item">
                <img
                    class="socials-list-item__logo"
                    src="../../assets/socials-icons/pinterest-social-logo.svg"
                    alt=""
                >
            </a>
            <a href="#" class="socials-list-item">
                <img
                    class="socials-list-item__logo"
                    src="../../assets/socials-icons/instagram-social-logo.svg"
                    alt=""
                >
            </a>
            <a href="#" class="socials-list-item">
                <img
                    class="socials-list-item__logo"
                    src="../../assets/socials-icons/twitter-social-logo.svg"
                    alt=""
                >
            </a>
            <a href="#" class="socials-list-item">
                <img
                    class="socials-list-item__logo"
                    src="../../assets/socials-icons/facebook-social-logo.svg"
                    alt=""
                >
            </a>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'SocialsBlock',
    };
</script>

<style lang="scss" scoped>
    .socials-list {
        display: flex;
        justify-content: space-evenly;
        padding: 20px;
        box-sizing: border-box;
    }

    .socials-list-item {
        border: 1px solid #F1F1F1;
        border-radius: 50%;
        text-align: center;
        line-height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;

        &:hover {
            border-color: #00B7FF;
        }
    }

    .socials-list-item__logo {
        width: 15px;
    }
</style>
